<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container" style="cursor: pointer">
    <a class="navbar-brand" [routerLink]="['/home']">CMS</a>
    <ul class="navbar-nav mr-auto">
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>

    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name|titlecase}}
      </a>
      <div class="dropdown-menu mt-4" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="loggedOut()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  </div>
  <button *ngIf="!loggedIn()" class="btn btn-secondary mr-4" [routerLink]="['/register']" (click)="registerToggle()">
    Register</button>
</nav>






